table{
    width: 85%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    border: 1px;
    


}
thead th,tbody td{
     padding: 0.75em;
     text-align: center;
     border-collapse: collapse;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
     
}
thead th{
    font-weight: bold;
    border-bottom: 2px solid #1a111194;

}
th{
    background: rgb(29, 164, 29);
}



